table {
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 20px;
}

th {

    /* 修正点 */
    width: calc(100%/4);

    border: 2px solid #000000;

    /* 修正点 */
    background-color: #48b102;

    text-align: left;
    padding: 10px;
}

td {
    border: 2px solid #000000;
    padding: 10px;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 2px solid #969696;
    border-radius: 4px;
}